/* yanone-kaffeesatz-regular - latin */
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/yanone-kaffeesatz-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/yanone-kaffeesatz-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* yanone-kaffeesatz-700 - latin */
  @font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/yanone-kaffeesatz-v22-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/yanone-kaffeesatz-v22-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


/* angkor-regular - latin */
@font-face {
     font-family: 'Angkor';
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('../fonts/angkor-v26-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/angkor-v26-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }

/* black-ops-one-regular - latin */
@font-face {
     font-family: 'Black Ops One';
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('../fonts/black-ops-one-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/black-ops-one-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }