html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Raleway';
}

*, *::after, *::before {
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
}

:root { 
    --wrapper-color: #914d50;
    --body-color: #c9a1a1;
    --white: #ffffff;
    --dark: #264143;
}

body {
    background-color: var(--body-color);
    margin: 0;
}


.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    background-color: var(--wrapper-color);
    padding: 20px;
}


a {
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz';
    transition: .5s;
}

a:visited {
    color: var(--dark);
}

a:hover{
    color: var(--white);
}




.header-wrapper {
    justify-content: space-between;
}

.svg-logo {
    width: 40px;
    height: 40px;
    transition: .5s;
    fill: var(--dark);
}

.svg-logo:hover {
    fill: var(--white);
}

.header-caption {
    font-family: 'Yanone Kaffeesatz';
    font-size: 40px;
    font-weight: 700;
    padding-left: 30px;
    margin: 0 auto 0 0;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    color: var(--dark);
}

.search-form {
    position: relative;
    display: flex;
    gap: 10px;
}

.search-input {
    display: block;
    width: 24.3vw;
    height: calc(2.25rem + 2px);
    border: 3px solid var(--dark);

    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    margin: 0; 
    padding-left: 1rem;
    padding-right: 2.5rem;
    background-clip: padding-box;
    background-color: var(--dark);
    color: var(--white);
    outline: none;
  }

.search-input::placeholder{
    color: var(--white);
}

.cross-wrapper{
    position: absolute;
    right: 90px;
    top: 5px;
}

.cross{
    fill: var(--white);
    width: 25px;
    height: 25px;
    transition: .5s;
}

.cross:hover{
    fill:#c65032;
}


.submit-button {
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    border: 2px solid var(--dark);
    padding: 4px;
    margin: 0px;
    border-radius: 10%;
    font-size: 18px;
    background-color: var(--dark);
    color: var(--white);
    transition: .5s;
}

.submit-button:hover{
    background-color: var(--white);
    color: var(--dark);
}










.movie-wrapper {
    flex-wrap: wrap;
    
    align-content: flex-start;
    justify-content: space-evenly;
    min-height: 100vh;
    gap: 30px;
}

.no-results {
    display: none;
    font-size: 3.87vw;
    padding-top: 36.3vh;
    font-family: 'Yanone Kaffeesatz';
}

.no-results.visible {
    display: block;
}

.movie {
    background-color: var(--body-color);
    position: relative;
    width: 400px;
    height: 670px;
    border-radius: 2%;
    overflow: hidden;
    transition: .5s;
    transform: scale(0.98);
}

.movie-img {
    width: 100%;
    border-radius: 2% 2% 0% 0%;
    transform: rotateY(0);
    transition: all 0.5s ease-in-out 0s;
}

.movie-title {
    font-family: 'Yanone Kaffeesatz';
    text-align: center;
    padding-top: 10px;
    color: var(--dark);
}

.movie-category {
    text-align: center;
    color: var(--dark);
}

.movie-description{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    background-color: var(--body-color);
    color: var(--dark);
    line-height: 2rem;
    padding: 1rem;
    height: 100%;
    width: 100%;
    transform: rotateY(90deg);
    transition: all 0.5s ease-in-out 0s;
    z-index: 10;
    opacity: 0.9;
}

.movie:hover {
    transform: scale(1);
}

.movie-description.rotate {
    transform: rotateY(0deg); 
}

/* .movie.rotate .movie-img {
     transform: rotateY(-90deg); 
} */

.movie-description h3 {
    text-align: center;
    font-family: 'Yanone Kaffeesatz';
    padding-top: 5px;
}


.movie-mark {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e7ce;
    font-size: 24px;
    font-weight: 700;
    z-index: 5;
}

.movie-mark.green{
    color: #40af90;
    border: 3px solid #40af90;
}

.movie-mark.yellow{
    color: #a3a321;
    border: 3px solid #a3a321;
}

.movie-mark.red{
    color: #8D021F;
    border: 3px solid #8D021F;
}


.dark.visible{
    background-color: var(--white);
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
} 






.pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.current-page {
    display: block;
    text-align: center;
    line-height: 60px;
    font-family: 'Yanone Kaffeesatz';
    font-size: 40px;
    border: 3px solid var(--dark);
    min-width: 60px;
    border-radius: 50%;
}

.previous-page-svg,
.next-page-svg{
    fill: var(--dark);
    cursor: pointer;
    height: 60px;
    width: 60px;
    transition: .5s;
}

.previous-page-svg:hover,
.next-page-svg:hover {
    fill: var(--white)
}











.footer-wrapper {
    justify-content: space-between;
    padding-bottom: 20px;
    font-size: 20px;
    color: var(--dark);
}

.rs-wrapper {
    margin-left: 5.89vw;
}