  html {
    box-sizing: border-box;
  }
  
  *, *::after, *::before {
    box-sizing: inherit;
  }

  body {
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 36px;
    font-weight: normal;
    color: #FFFFFF;
    background-color: #000;
  /*  max-width: 1440px;
    margin: 0 auto;*/
  }

.wrapper {
 /* max-width: 1440px;*/
  width: 1440px;
 
  margin: 0 auto;
  padding: 0;
  background: black;
}











/*start common styles*/

.title-wrapper {
  height: 80px;
  width: 50%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.title-wrapper:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color:#bdae82;
  top: calc(50%);
}

.section-title {
  color:#bdae82;
  font-family: Merriweather;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  margin: 0;
  background-color: #000000;
  position: absolute;
  padding: 0 20px;
}


.button-gold {
  background-color: #bdae82;
  border: 0;
  transition: 0.3s;
  width: 220px;
  height: 55px;
  cursor: pointer;

  color:  #000000;
  font-family: inherit;
  text-align: center;
  line-height: 40px;

}

.button-dark {
  background-color: #000000;
  border: 2px solid #BDAE82;
  transition: 0.3s;
  width: 220px;
  height: 55px;
  cursor: pointer;


  color:  #bdae82;
  font-family: inherit;
  text-align: center;
  line-height: 40px;

}

.button-gold:hover, .button-dark:hover{
  color: #FFFFFF;
}

.svg-icon {
  background-size: contain;
  background-repeat: no-repeat;  
  transition: 0.3s;
}

.svg-icon:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.link {
  line-height: 50px;
  color: #FFFFFF;
  text-decoration: none;
   transition: 0.3s;
}

.link:hover, .link:focus, .link:active{
   color: #bdae82;
}

/* end common styles*/











/*start Header styles*/

.header {
  background: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  height: 90px;
}


.header-wrapper {
  display: flex;
  flex-wrap: wrap; /*nowrap*/
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header-nav {
  margin-left: auto;
}

.header-logo-pic {
  width: 50px;
  height: 40px;
}

.header-logo {
  padding-left: 20px;
  padding-top: 5px;
  
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

.nav-item {
  margin-right: 30px;
}

.header-nav link {
  line-height: 50px;
}

.slash {
  padding-left: 9px;
  padding-right: 8px;
  font-weight: 700;

}

.eng, .ru {
  background-color: transparent;
  border: 0;
  color:  #FFFFFF;
  font-weight: 700;
  font-family: inherit;
  transition: 0.3s;
}

.eng:hover, .ru:hover {
  color: #bdae82;
}
/*end Header styles*/











/*start Hero styles*/
#hero {
    height: 820px;
    background-image: url('../img/header-bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    padding-left: 80px;
    padding-top: 160px;
}

.hero-wrapper {
  width: 500px;
  height: 330px;
}

.hero-title{
  font-family: Merriweather;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  color: #FFFFFF;
  margin: 0px 0px 10px 0px;
}

.hero-description {
  margin: 0px 30px 25px 0px;
  font-size: 20px;
  line-height: 40px;
}

/*end Hero styles*/











/*start Skills section*/
#skills {
  height: 482px;
  padding-top: 100px;
}

.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 242px;
 /* gap: 40px;*/
}

.skill-item {
  margin: 0 auto;
  width: 320px;
  height: 240px;
}

.skill-item:nth-child(1) {
  background-image: url('../img/svg/camera1.svg');
  background-size: 62px 50px;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.skill-item:nth-child(2) {
  background-image: url('../img/svg/videoshooting.svg');
  background-size: 60px 50px;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.skill-item:nth-child(3) {
  background-image: url('../img/svg/retouch.svg');
  background-size: 66px 50px;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.skill-item:nth-child(4) {
  background-image: url('../img/svg/audio.svg');
  background-size: 32px 50px;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}


.skill-item  h3 {
  width: 280px;
/*  margin-left: 20px;*/
  text-align: center;
  font-weight: 700;
  line-height: 40px;
  margin: 100px auto 20px auto;
}

.skill-item p {
  width: 280px;
  height: 72px;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
}
/*end Skills section*/









/*start Portfolio section*/

#portfolio {
  height: 1500px;
  padding-top: 100px;
}

.button-wrapper {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}

.image-wrapper {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}

.image-wrapper img {
  display: block;
  width: 450px;
  height: 560px;
}

/*end Portfolio section*/










/*start Video section*/
#video {
  height: 945px;
  padding-top: 100px;
}

#video img {
  display: inline-block;
}

.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-player button {
  position: absolute;
  background-color: transparent;
  border: 0;
  background-image: url("../img/svg/Play_hover.svg");
  width: 129.86px;
  height: 130px;
  cursor: pointer;
}


/*end Video section*/












/*start price section*/

#price {
  height: 845px;
  padding-top: 100px;
}

.card-wrapper {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 3px solid #BDAE82;
  width: 450px;
  height: 505px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card span{
  display: block;
  font-size: 18px;
}

.card h3 {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  margin: 0;
}

.card h4 {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  color: #BDAE82;
  margin: 20px 0px;
}

.card .button-gold {
  margin-top: 40px;
}
/*end price section*/







/*start contact section*/
#contacts {
  height: 700px;
  background: url('../img/contacts.jpg');
  background-size: auto 700px;
  background-position: center center;
  padding: 60px 20px 195px 970px;
  
}

#contacts .contacts-wrapper {
  width: 450px;
  height: 445px;
}

 input, textarea {
  background: rgba(0, 0, 0, 0.5);;
  border: 2px solid #BDAE82;
  width: 450px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #BDAE82;
}

.contacts-title {
  height: 80px;
  padding: 0px;
  margin: 0px 0px 40px 0px;
  font-family: Merriweather;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: #BDAE82;
}

.email-input, .phone-input {
  height: 50px;
  padding: 0;
  margin: 0px 0px 20px 0px;
  line-height: 40px;
  display: block;
}

.email-input::placeholder, .phone-input::placeholder, textarea::placeholder {

  padding: 5px 0px 0px 20px;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #BDAE82;
}


textarea {
  resize: none;
  height: 100px;
  padding: 0;
  margin: 0px 0px 30px 0px;
  line-height: 40px;
  display: block;
}

.contact-button {
  width: 220px;
  height: 55px;
  display: block;
}





input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #bdae82;
  transition: background-color 0s ease-in-out 9000s;
}
/*end contact section*/







/*start footer*/
.footer {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.git-wrapper {
  width: 182px;
  height: 50px;
  display: flex;
  gap: 20px;
}

.icons-wrapper {
  display: flex;
  gap: 22.67px;
}

.icons-wrapper a, .git-wrapper a, .footer span {
  line-height: 50px;
  display: block;
}

/*end footer*/


