/*imgbin.com*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Yanone Kaffeesatz';
}

body {
    /* position: relative; */
    background-color: black;
    width: auto;
    margin: 0 auto;
    font-family: 'Black Ops One';
    font-size: 3.7vw;
    color: white;
    position: relative;
}

a {
    display: block;
    text-decoration:none;
    color: white;
  }

canvas { 
    background: url('../assets/img/background-space.jpg');
    background-size: cover;
    display: block;
    /* position: absolute; */
    /* top: 100px;*/
    /*left: 300px; */
    /* margin: 150px auto;  */

}


.menu {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30vh;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu.invisible {
    display: none;
}

.music-wrapper {
    display: flex;
    gap: 1.5vw;
}


.start,
.view-score,
.music,
a{
    cursor: pointer;
    transition: 0.3s;
}


.start:hover,
.view-score:hover,
.music:hover,
a:hover {
    color: darkgoldenrod;
}


.footer{
    display: flex;
    font-size: 1vw;
    padding-bottom: 10px;
    justify-content: space-around;
}





.sorry{
    font-size: 20px;
}