@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
    cursor: pointer;
}

.logo,
button,
.card {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    display: block;
    padding: 0px;
    background-color: #fff;
}

body {
    position: relative;
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var.$color-primary;
    }
}

body.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

section,
header,
footer {
    padding-left: 40px;
    padding-right: 40px;
    @include mix.laptop {
        padding-left: 30px;
        padding-right: 30px;
    }
    @include mix.tablet {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.is-hidden {
    display: none;
}

.blackout {
    position: absolute;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.blackout.visible {
    width: 100%;
    height: 100%;
    background-color: var.$color-blackout;
}

img,
a,
span {
    display: block;
}
