@use "../abstracts/variables" as var;
@use "../abstracts/placeholders";

h1,
h2,
h3 {
    font-weight: 400;
}

.logo__title {
    font-family: "Georgia";
    font-size: 32px;
    line-height: 35px; //110%;
    letter-spacing: 0.06em;
    color: var.$color-dark-l;
}

.logo__subtitle {
    font-family: "Arial";
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: center;
    color: var.$color-dark-3xl;
}

.menu__link {
    @extend %Arial15;
    color: var.$color-dark-l;
    &:hover{
        transition: 0.5s;
        color: var.$color-dark-3xl;
    }
}

.title {
    @extend %Georgia35;
    color: var.$color-dark-l;
}

.pets__title {
    text-align: center;
}

.button {
    font-family: "Georgia";
    font-size: 17px;
    line-height: 22px; //130%;
    color: var.$color-dark-3xl;
    letter-spacing: 0.06em;
}

.pets__button-arrow {
    @extend %Georgia20;
    text-align: center;
    color: var.$color-dark-3xl;
}

.card__name {
    @extend %Georgia20;
    text-align: center;
    color: var.$color-dark-l;
}

.footer__content {
    @extend %Georgia20;
    color: var.$color-primary;
}

.footer__title {
    @extend %Georgia35;
    color: var.$color-light-xl;
}
