@charset "UTF-8";
.footer {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

.pets__button-arrow, .card__name, .footer__content {
  font-family: "Georgia";
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.title, .footer__title {
  font-family: "Georgia";
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
}

.menu__link {
  font-family: "Arial";
  font-size: 15px;
  line-height: 24px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  cursor: pointer;
}

.logo,
button,
.card {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  display: block;
  padding: 0px;
  background-color: #fff;
}

body {
  position: relative;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #F1CDB3;
}

body.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

section,
header,
footer {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1279px) {
  section,
header,
footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  section,
header,
footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.is-hidden {
  display: none;
}

.blackout {
  position: absolute;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.blackout.visible {
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
}

img,
a,
span {
  display: block;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia.eot");
  src: url("../../assets/fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Georgia.woff2") format("woff2"), url("../../assets/fonts/Georgia.woff") format("woff"), url("../../assets/fonts/Georgia.ttf") format("truetype");
  font-style: "normal";
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial-ItalicMT.eot");
  src: url("../../assets/fonts/Arial-ItalicMT.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Arial-ItalicMT.woff2") format("woff2"), url("../../assets/fonts/Arial-ItalicMT.woff") format("woff"), url("../../assets/fonts/Arial-ItalicMT.ttf") format("truetype");
  font-style: "italic";
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/ArialMT.eot");
  src: url("../../assets/fonts/ArialMT.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/ArialMT.woff2") format("woff2"), url("../../assets/fonts/ArialMT.woff") format("woff"), url("../../assets/fonts/ArialMT.ttf") format("truetype");
  font-style: "normal";
  font-weight: normal;
  font-display: swap;
}
h1,
h2,
h3 {
  font-weight: 400;
}

.logo__title {
  font-family: "Georgia";
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #545454;
}

.logo__subtitle {
  font-family: "Arial";
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #292929;
}

.menu__link {
  color: #545454;
}
.menu__link:hover {
  transition: 0.5s;
  color: #292929;
}

.title {
  color: #545454;
}
@media (max-width: 767px) {
  .title {
    font-size: 25px;
    line-height: 32px;
  }
}

.pets__title {
  text-align: center;
}

.button {
  font-family: "Georgia";
  font-size: 17px;
  line-height: 22px;
  color: #292929;
  letter-spacing: 0.06em;
}

.pets__button-arrow {
  text-align: center;
  color: #292929;
}

.card__name {
  text-align: center;
  color: #545454;
}

.footer__content {
  color: #F1CDB3;
}

.footer__title {
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .footer__title {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }
}

.burger-menu {
  display: none;
  z-index: 15;
  overflow-y: scroll;
}
.burger-menu .logo {
  margin: 30px auto 158px 10px;
}
.burger-menu .logo__subtitle {
  text-align: left;
  padding-left: 3px;
}
@media (max-width: 767px) {
  .burger-menu {
    display: block;
    position: fixed;
    top: 0;
    right: -350px;
    height: 100%;
    width: 320px;
    background-color: #292929;
    transition: 0.5s all;
  }
}
@media (max-width: 767px) {
  .burger-menu.visible {
    right: 0vw;
  }
}
.burger-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.burger-menu__list-item--active:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #F1CDB3;
}
.burger-menu__link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 51px;
  color: #CDCDCD;
  transition: 0.5s;
}
.burger-menu__link:hover {
  color: #FAFAFA;
}
.burger-menu--white {
  background-color: #FAFAFA;
}
.burger-menu--white .burger-menu__link {
  color: #545454;
}
.burger-menu--white .burger-menu__link:hover {
  transition: 0.5s;
  color: #292929;
}
.burger-menu::-webkit-scrollbar {
  width: 10px;
}
.burger-menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e1e2e1;
}

.start-screen__button {
  background-color: #F1CDB3;
  margin-top: 42px;
  width: 207px;
  transition: 0.5s;
}
.start-screen__button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}
@media (max-width: 1279px) {
  .start-screen__button {
    margin: 42px auto;
  }
}

.button {
  height: 52px;
  border-radius: 180px;
  border: 2px solid #F1CDB3;
}

.card__button {
  width: 187px;
  margin-bottom: 30px;
  transition: 0.5s;
  background-color: #FAFAFA;
}

.pets__button {
  background-color: #F1CDB3;
  width: 261px;
  transition: 0.5s;
}
.pets__button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.pets__button-arrow,
.pets__page,
.modal-window__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  background-color: transparent;
  border: 2px solid #F1CDB3;
}

.pets__button-arrow {
  transition: 0.5s;
  background-color: #F6F6F6;
}
.pets__button-arrow--active:hover {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}
.pets__button-arrow--inactive {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
  cursor: default;
}

.pets__page {
  cursor: default;
  background-color: #F1CDB3;
}

.hamburger {
  display: none;
  z-index: 20;
}
@media (max-width: 767px) {
  .hamburger {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 49px;
    right: 53px;
    cursor: pointer;
    user-select: none;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.hamburger__line {
  width: 100%;
  height: 2px;
  transition: all 0.3s ease-in-out;
}
.hamburger__line:nth-child(1), .hamburger__line:nth-child(2) {
  margin-bottom: 7px;
}
.hamburger--pets .hamburger__line {
  background-color: black;
}
.hamburger--main .hamburger__line {
  background-color: #F1CDB3;
}

.hamburger.open-menu {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.modal-window {
  justify-content: space-between;
  position: absolute;
  width: 900px;
  height: 500px;
  background-color: #FAFAFA;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  border-radius: 1.2%;
  transform: scale(0);
  transition: transform 0.5s ease 0s;
}
.modal-window__wrapper {
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 0;
  height: 0;
  max-width: 100%;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.modal-window__wrapper:hover .modal-window__close-button {
  background-color: #F1CDB3;
}
.modal-window__wrapper.visible {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba(41, 41, 41, 0.6);
}
.modal-window__wrapper.visible .modal-window {
  display: flex;
  transform: scale(1);
}
.modal-window__content {
  margin-top: 50px;
  margin-right: 20px;
  width: 350px;
  height: auto;
  font-family: "Georgia";
  color: #000000;
  letter-spacing: 0.06em;
  overflow-y: scroll;
}
@media (max-width: 1279px) {
  .modal-window__content {
    margin-top: 10px;
    margin-right: 10px;
    width: 260px;
  }
}
.modal-window__content::-webkit-scrollbar {
  width: 10px;
}
.modal-window__content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e1e2e1;
}
.modal-window__img {
  border-radius: 1.2%;
}
@media (max-width: 767px) {
  .modal-window__img {
    display: none;
  }
}
.modal-window__name {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
}
@media (max-width: 767px) {
  .modal-window__name {
    text-align: center;
  }
}
.modal-window__breed {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}
@media (max-width: 1279px) {
  .modal-window__breed {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .modal-window__breed {
    text-align: center;
  }
}
.modal-window__description, .modal-window__list, .modal-window__list-item {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
}
.modal-window__description {
  margin-bottom: 40px;
}
@media (max-width: 1279px) {
  .modal-window__description {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 14px;
  }
}
@media (max-width: 767px) {
  .modal-window__description {
    margin-bottom: 24px;
    text-align: justify;
    padding-left: 5px;
  }
}
.modal-window__list-item {
  padding-left: 10px;
  margin-bottom: 12px;
  letter-spacing: 0.12em;
}
@media (max-width: 1279px) {
  .modal-window__list-item {
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .modal-window__list-item {
    padding-left: 14px;
  }
}
.modal-window__list-item::before {
  content: "•";
  color: #F1CDB3;
  font-weight: bold;
  display: inline-block;
  /*space between bullet and text */
  width: 1em;
  /*needed for space*/
  margin-left: -0.6em;
  /* needed for space*/
}
.modal-window__close-button {
  top: -52px;
  right: -43px;
  position: absolute;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .modal-window__close-button {
    right: -25px;
  }
}
.modal-window__svg-cross {
  width: 12px;
  height: 12px;
}
@media (max-width: 1279px) {
  .modal-window {
    width: 630px;
    height: 350px;
  }
}
@media (max-width: 767px) {
  .modal-window {
    width: 240px;
    height: 341px;
  }
}
.modal-window:hover .modal-window__close-button {
  background-color: transparent;
}
.modal-window__wrapper .modal-window__close-button:hover {
  background-color: #F1CDB3;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  opacity: 0.9;
  z-index: 5;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}
@media (max-width: 767px) {
  .header__content {
    padding-right: 43px;
  }
}

.menu__list {
  display: flex;
  gap: 35px;
}
.menu__list-item--active:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #F1CDB3;
}
@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.logo__subtitle {
  margin-top: 10px;
}

.pets {
  height: 1462px;
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: #F6F6F6;
}
.pets__content {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
@media (max-width: 1279px) {
  .pets__content {
    width: 708px;
    margin: 0px auto;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .pets__content {
    width: 300px;
    gap: 42px;
  }
}
.pets__title {
  width: 400px;
}
@media (max-width: 767px) {
  .pets__title {
    width: 300px;
  }
}
.pets__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 40px;
}
@media (max-width: 1279px) {
  .pets__cards-wrapper {
    justify-content: center;
  }
}
.pets__pagination {
  display: flex;
  width: 340px;
  gap: 20px;
}
@media (max-width: 1279px) {
  .pets__pagination {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .pets__pagination {
    width: 300px;
    margin: 0 auto;
    gap: 10px;
  }
}
@media (max-width: 1279px) {
  .pets {
    height: 1853px;
  }
}
@media (max-width: 767px) {
  .pets {
    height: 1769px;
    padding-top: 161px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #FAFAFA;
}
.card:hover {
  background-color: #FFFFFF;
}
.card:hover .card__button {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}
@media (max-width: 1279px) {
  .card:nth-child(7), .card:nth-child(8) {
    display: none;
  }
}
@media (max-width: 767px) {
  .card:nth-child(4), .card:nth-child(5), .card:nth-child(6), .card:nth-child(7), .card:nth-child(8) {
    display: none;
  }
}

.footer {
  height: 350px;
  padding-top: 40px;
}
.footer__content {
  display: flex;
  justify-content: start;
  gap: 160px;
  height: 100%;
  padding-top: 16px;
  background-image: url(../../assets/images/footer-puppy.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
@media (max-width: 1279px) {
  .footer__content {
    background-position: center bottom;
    padding-top: 0px;
    gap: 60px;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .footer__content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    background-size: 260px;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 280px;
}
.footer__contacts svg {
  width: 40px;
  height: 32px;
}
@media (max-width: 767px) {
  .footer__contacts {
    align-items: center;
  }
}
.footer__locations {
  display: flex;
  flex-direction: column;
  gap: 33px;
  width: 302px;
}
.footer__locations svg {
  width: 22px;
  height: 32px;
}
@media (max-width: 767px) {
  .footer__locations {
    align-items: center;
    gap: 39px;
  }
}
@media (max-width: 767px) {
  .footer__locations .footer__title {
    width: 270px;
  }
}
.footer__phone-link, .footer__mail-link, .footer__boston-location, .footer__london-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #F1CDB3;
}
.footer__phone-link:hover, .footer__mail-link:hover, .footer__boston-location:hover, .footer__london-location:hover {
  color: #FAFAFA;
}
.footer__phone-link:hover svg, .footer__mail-link:hover svg, .footer__boston-location:hover svg, .footer__london-location:hover svg {
  fill: #FAFAFA;
}
.footer svg {
  fill: #f1cdb3;
}
.footer__boston-street, .footer__london-street {
  width: 260px;
}
.footer__boston-location, .footer__london-location {
  width: 100%;
}
.footer__mail-link {
  width: 251px;
}
.footer__mail {
  width: 191px;
}
.footer__phone-link {
  width: 239px;
}
.footer__phone {
  width: 179px;
}
@media (max-width: 1279px) {
  .footer {
    height: 639px;
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .footer {
    height: 809px;
  }
}

/*# sourceMappingURL=pets.css.map */
