@use "../abstracts/variables" as var ;
@use "../abstracts/mixins" as mix;

.start-screen__button {
    background-color: var.$color-primary;
    margin-top: 42px;
    width: 207px;
    transition: 0.5s;
    &:hover {
        background-color: var.$color-primary-light;
        border-color: var.$color-primary-light;
    }
    @include mix.desktop1279 {
        margin: 42px auto;
    }
}


.button {
    height: 52px;
    border-radius: 180px;
    border: 2px solid var.$color-primary;
}

.card__button {
    width: 187px;
    margin-bottom: 30px;
    transition: 0.5s;
    background-color: var.$color-light-s;
}



.pets__button {
    background-color: var.$color-primary;
    width: 261px;
    transition: 0.5s;
    &:hover {
        background-color: var.$color-primary-light;
        border-color: var.$color-primary-light;
    }
}

.pets__button-arrow,
.pets__page {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid var.$color-primary;
}

.pets__button-arrow {
    transition: 0.5s;
    background-color: var.$color-light-l;
    &--active:hover {
        border-color: var.$color-primary-light;
        background-color: var.$color-primary-light;
    }
    &--inactive {
        border: 2px solid var.$color-dark-s;
        color: var.$color-dark-s;
        cursor: default;
    }
}

.pets__page {
    cursor: default;
    background-color: var.$color-primary;
}
