%gradient {
    background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

%Georgia20 {
    font-family: "Georgia";
    font-size: 20px;
    line-height: 23px; //115%;
    letter-spacing: 0.06em;
}

%Georgia35 {
    font-family: "Georgia";
    font-size: 35px;
    line-height: 45px; //130%;
    letter-spacing: 0.06em;
}

%Arial15 {
    font-family: "Arial";
    font-size: 15px;
    line-height: 24px; //160%;
}