

@media (max-width: 1399px) {

  #portfolio {
    height: auto;
    /* padding-top: 80px; */
  }

  #price {
    height: auto;
    padding-bottom: 50px;
  }

  #contacts {
    padding: 4.16% 1.38% 13.54% 58.3%;
  }


}

@media (max-width: 1279px) {
  #skills {
    height: auto;
  }
  .skills-items {
    height: auto;
  }

  .skills-items {
    row-gap: 40px;
  }
  
  #contacts {
    padding:  4.16% 0px 13.54% 0px;
  }

  .contacts-wrapper {
    margin: 0 auto;
  }
}












@media (max-width: 768px) {


  .wrapper {
    max-width: 768px
  }

  .section-title {
    font-size: 32px;
    line-height: 40px;
  }

  .title-wrapper {
    width: 364px;
    align-items: center;
  }

  .title-wrapper::before {
    top: calc(50%);
  }


  .header {
    background-position: -5px -30px;
    background-size: auto 620px;
  }

  .header-logo {
    padding-left: 40px;
  }

  .switch-lang {
    margin-left: auto;
    justify-content: flex-end;
  }

  .ru {
    margin-left: 18px;
  }

  .en {
    margin-right: 9px;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 50px;
    height: 50px;
    cursor: pointer;
    user-select: none;
    z-index: 20;
    margin-left: 20px;
    margin-right: 44px;
    transition: 0.5s;
  }


  .hamburger.open-menu {
    position: fixed;
    right: 21px;
    margin-top: 0;
  }


  .line {
    width: 100%;
    height: 3px;
    background: var(--color-white);
    margin: 5px 0;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }

  .hamburger.open-menu .line1 {
    transform: rotate(-45deg) translate(-7px, 9px);
  }

  .hamburger.open-menu .line2 {
    opacity: 0;
  }

  .hamburger.open-menu .line3 {
    transform: rotate(45deg) translate(-9px, -11px);
  }

  .hamburger:hover {
      filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    }
  

  .nav-list {
    display: block;
    position: fixed;
    top: 0;
    right: -120vw;
    height: 100%;
    width: 101.41vw;
    background: #000000;
    padding-top: 134px;
    padding-left: 127px;
    text-align: left;
    line-height: 73px;
    font-size: 35px;
    transition: 0.5s all;
    z-index: 10;
  }

  .nav-item {
    margin-bottom: 17px;
  }

  .nav-list-active {
    right: -20.833vw;
  }

  .blackout.active {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
  }








  #hero {
    height: 500px;
    padding: 78px 318px 152px 60px;
    background-position: -5px -120px;
    background-size: auto 620px;
  }

  .hero-wrapper {
    width: 390px;
    height: 270px;
  }

  .hero-title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 64px;
  }

  .hero-description {
    margin-bottom: 60px;
    line-height: 24px;
    width: 390px;
    height: 72px;
  }

  #skills {
    height: 729px;
    padding: 80px 20px 80px 20px;
  }

  #skills .title-wrapper {
    margin-bottom: 45px;
  }

  .skills-items {
    display: flex;
    width: 728px;
    height: 520px;
    justify-content: center;
    align-content: flex-start;
    row-gap: 36px;
    column-gap: 44px;
  }


  .skill-item {
    width: 300px;
    height: 224px;
    margin: 0;
  }

  .skill-item h3 {
    margin-top: 80px;

  }


  .skill-item p {
    height: 44px;
    line-height: 22px;
  }

  #portfolio {
    height: 3870px;
    padding-top: 80px;
  }

  .button-wrapper {
    width: 445px;
    height: 115px;
    margin: 0 auto 60px auto;
  }

  #portfolio .title-wrapper {
    margin-bottom: 50px;
  }


  #video {
    height: 628px;
    padding-top: 80px;
  }

  #video .title-wrapper {
    margin-bottom: 50px;
  }

  .video-player {
    width: 100%;
    height: 418px;
    background-size: auto 100%;
    background-position: -10px;

  }

  .video-player button {

    width: 64.62px;
    height: 62.69px;
    background-size: 100% 100%;

  }

  #price {
    height: 1905px;
    padding-top: 80px;
  }

  #price .title-wrapper {
    margin-bottom: 50px;
  }

  .card-wrapper {
    row-gap: 50px;
  }

  .card {
    width: 420px;
  }

  #contacts {
    height: 600px;
    background-size: auto 600px;
    background-position: -235px center;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 111px;
  }

  #contacts .contacts-wrapper {
    margin: 0 auto;
    height: 429px;
  }

  .contacts-title {
    height: 64px;
    padding: 0px;
    text-align: center;
    font-size: 32px;
    line-height: 64px;
  }

  .email-input,
  .phone-input,
  textarea {
    padding-top: 0px;
  }


  .contact-button {
    margin: 0 auto;
  }

  .footer {
    height: 190px;
    display: flex;
    flex-direction: column;
    padding-top: 28px;
    padding-bottom: 39.68px;
  }

  .rs-wrapper {
    width: 210px;
    height: 24px;
    margin-bottom: 37px;
  }


  .git-wrapper {
    margin: 0;
    width: 173px;
    height: 50px;
  }

  .link-list {
    width: 184px;
    height: 50px;
    margin: 0;
  }

  .git-wrapper a,
  .footer span,
  .rs-wrapper {
    line-height: 24px;
  }

}









@media (max-width: 766px) {


  #skills {
    height: 1100px;
  }

  .skills-items {

    display: flex;
    width: 400px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
    justify-content: flex-start;
  }

  

  #contacts {
    padding: 0px;
  }

  .contacts-wrapper {
    width: 58.59%;
  }

  .contacts-title {
    height: auto;
    padding-top: 20px;
  }

  .contact-form {
    width: 100%;
  }

  .email-input,
  .phone-input,
  textarea {
    width: 100%;
    margin: 10px auto;
  }

}






@media (max-width: 620px) {

  .header {
    height: 60px;
  }

  .header-wrapper {
    height: 45px;
    padding: 5px 10px;
  }

  .nav-list-active {
    /* display: block; */
    right: -5.833vw;
  }


  #hero {
    background-size: 130%;
    background-position: -5px -120px;
  }

  .header {
    background-size: 130%;
    background-position: -5px -60px;
  }


  #hero.section {
    padding: 30px 0px 0px 30px;
    margin: 0px;
    height: 240px;
  }

  #hero h1 {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 20px;
  }

  .hero-description {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .hero-wrapper .button-gold {
    width: 150px;
    height: 50px;
    font-size: 16px;
    line-height: 16px;
    padding: 0;
  }

  .en,
  .ru,
  .slash {
    font-size: 16px;
    line-height: 16px;
  }


  #video {
    height: 450px;
  }

  .video-player {
    height: 300px;
    background-size: 100%;
    background-position: 0px 10px;
  }

  .image-wrapper img {
    width: 400px;
    height: auto;
  }

  #portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    height: auto;
  }

  .button-wrapper {
    height: auto;
    display: flex;
    width: 240px;
    gap: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
    justify-content: flex-start;
  }

  .image-wrapper {
    margin-top: 30px;
  }

}







@media (max-width: 467px) {

  #hero,
  #skills,
  #portfolio,
  #price,
  #video,
  #contacts {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #hero.section {
    height: 150px;
    padding: 10px;
    padding-left: 30px;
  }

  .hero-wrapper {
    width: 240px;
    height: 120px;
  }

  .hero-description {
    width: 300px;
    font-size: 13px;
  }

  #hero h1 {
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 5px;
    line-height: 16px;
  }

  .header-logo {
    padding: 15px;
  }

  .header-logo-pic {
    width: 30px;
    height: 30px;
  }

  .switch-lang {
    padding-top: 30px;
    width: 30px;
    height: 20px;
  }

  .hamburger {
    width: 31px;
    height: 31px;
    margin-top: 10px;
  }

  .line {
    height: 5px;

  }

  .hamburger.open-menu .line1 {
    transform: rotate(-45deg) translate(-9px, 10px);
  }

  .hamburger.open-menu .line2 {
    opacity: 0;
  }

  .hamburger.open-menu .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .hamburger.open-menu {
    margin-top: 30px;
  }


  #skills * {
    max-width: 270px;
    padding: 0px;
  }

  .skill-item {
    font-size: 14px;
  }

  #skills {
    padding-top: 20px;
  }

  .title-wrapper {
    width: 240px;
  }

  .image-wrapper img {
    width: 300px;
    height: auto;
  }


  #video {
    height: 350px;
  }

  .video-player {
    height: 200px;
  }

  .hero-wrapper .button-gold {
    width: 65px;
    height: 25px;
  }

}




@media (max-width: 350px) {

  .hero-description {
    padding: 0px;
    width: 260px;
  }

  .hero-wrapper .button-gold {
    margin-top: 15px;
  }
}
