@use "abstracts/variables" as var;
@use "abstracts/mixins" as mix;
@use "abstracts/placeholders";
@use "base/basic";
@use "base/fonts";
@use "base/main_typography";
@use "components/buttons";

.header {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 60px;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
    }
    @include mix.desktop1279 {
        padding-top: 30px;
    }
}

.menu {
    &__list {
        display: flex;
        gap: 35px;
    }
    &__list-item {
        &--active:after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: var.$color-primary;
        }
    }
}

.logo {
    height: 100%;
    &__subtitle {
        margin-top: 10px;
    }
}

.start-screen {
    height: 908px;
    @extend %gradient;

    &__inner {
        height: 100%;
        padding-top: 180px;
        padding-bottom: 243px;
        background-image: url(../../assets/images/start-screen-puppy.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        @include mix.desktop1279 {
            // background-position-x: 59%;
            // background-position-y: 100%; //571px;
            // background-position-x: 106%;
            padding-top: 150px;
            background-size: 568px;
        }
    }

    &__content {
        width: 460px;
        height: 322px;
        margin-top: 163px;
        @include mix.desktop1279 {
            margin: 0 auto;
        }
    }

    &__title {
        width: 310px;
        margin-bottom: 42px;
    }

    @include mix.desktop1279 {
        height: 1165px;
    }
}

.about {
    height: 588px;
    padding-top: 80px;
    padding-bottom: 100px;
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 120px;
        @include mix.desktop1279 {
            flex-direction: column-reverse;
            gap: 80px;
            margin: 0 auto;
        }
    }
    &__content {
        width: 430px;
        height: 380px;
    }
    &__title {
        width: 370px;
        margin-bottom: 25px;
    }
    &__info:first-of-type {
        margin-bottom: 25px;
    }

    @include mix.desktop1279 {
        height: 1048px;
    }
}

.pets {
    height: 877px;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: var.$color-light-l;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    &__title {
        width: 400px;
    }

    &__items-wrapper {
        display: flex;
        gap: 90px;
        @include mix.desktop1279 {
            gap: 40px;
        }
    }

    &__icon-arrow {
        width: 14px;
        height: 6px;
    }
}

.slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 435px;
    gap: 30px;
    transition: 0.5s;
    background-color: var.$color-light-s;

    &:hover {
        background-color: var.$color-light-xl;
        .card__button {
            background-color: var.$color-primary-light;
            border-color: var.$color-primary-light;
        }
    }

    @include mix.desktop1279 {
        &:nth-child(3){
            display: none;
        }
    }
}

.help {
    height: 611px;
    padding-top: 80px;
    padding-bottom: 100px;

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        width: 308px;
    }

    &__items-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 120px;
        row-gap: 55px;
        height: 281px;
        width: 1030px;
        @include mix.desktop1279 {
            width: 630px;
            height: 449px;
            column-gap: 60px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 113px;
        @include mix.desktop1279 {
            width: 170px;
        }
    }

    &__svg-image {
        width: 60px;
        height: 60px;
    }

    @include mix.desktop1279 {
        height: 779px;
    }
}

.donation {
    height: 462px;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: var.$color-light-l;
    &__inner {
        width: 915px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 30px;
        @include mix.desktop1279 {
            flex-direction: column-reverse;
            justify-content: flex-end;
            width: 100%;
            gap: 60px;
        }
    }

    &__content {
        height: 282px;
        width: 380px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__title {
        width: 300px;
    }

    @include mix.desktop1279 {
        height: 783px;
    }
}

.credit-card {
    cursor: pointer;
    border: 0px;
    width: 349px;
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        height: 43px;
        border-radius: 9px;
        background-color: var.$color-primary;
        transition: 0.5s;

        &:hover {
            background-color: var.$color-primary-light;
        }
    }

    &__icon {
        width: 30px;
        height: 23px;
    }
    &__card-number {
        height: 23px;
    }
}

.footer {
    height: 350px;
    @extend %gradient;
    padding-top: 40px;

    &__content {
        display: flex;
        justify-content: start;
        gap: 160px;
        height: 100%;
        padding-top: 16px;
        background-image: url(../../assets/images/footer-puppy.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        @include mix.desktop1279 {
            background-position: center bottom;
            padding-top: 0px;
            gap: 60px;
            justify-content: center;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 278px;
        svg {
            width: 40px;
            height: 32px;
        }
    }

    &__locations {
        display: flex;
        flex-direction: column;
        gap: 33px;
        width: 302px;
        svg {
            width: 22px;
            height: 32px;
        }
    }

    &__phone-link,
    &__mail-link,
    &__boston-location,
    &__london-location {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var.$color-primary;
        &:hover {
            color: var.$color-light-s;
            svg {
                fill: var.$color-light-s;
            }
        }
    }

    svg {
        fill: #f1cdb3;
    }

    &__boston-street,
    &__london-street {
        width: 260px;
    }

    &__mail-link {
        width: 251px;
    }

    &__mail {
        width: 191px;
    }

    &__phone-link {
        width: 239px;
    }

    &__phone {
        width: 179px;
    }

    @include mix.desktop1279 {
        height: 639px;
        padding-top: 30px;
    }
}
