@use "abstracts/variables" as var;
@use "abstracts/mixins" as mix;
@use "abstracts/placeholders";
@use "base/basic";
@use "base/fonts";
@use "base/pets_typography";
@use "components/buttons";

.header {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var.$color-light-xl;
    opacity: 0.9;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
    }
}

.menu {
    &__list {
        display: flex;
        gap: 35px;
    }
    &__list-item{
        &--active:after{  
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: var.$color-primary;
        }
    }
}

.logo {
    height: 100%;
    &__subtitle {
        margin-top: 10px;
    }
}

.pets {
    height: 1462px;
    padding-top: 200px;
    padding-bottom: 100px;
    background-color: var.$color-light-l;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        @include mix.desktop1279 {
            width: 708px;
            margin: 0px auto;
            gap: 30px;
        }
    }

    &__title {
        width: 400px;
    }

    &__items-wrapper {
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 40px;
        @include mix.desktop1279 {
            justify-content: center;
        }
    }

    &__pagination {
        display: flex;
        width: 340px;
        gap: 20px;
        @include mix.desktop1279 {
            margin-top: 10px;
        }
    }

    @include mix.desktop1279 {
        height: 1853px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 435px;
    // width: 270px;
    gap: 30px;
    background-color: var.$color-light-s;
    &:hover{
        background-color: var.$color-light-xl;
        .card__button {
            background-color: var.$color-primary-light;
            border-color: var.$color-primary-light;
        }
    }

    @include mix.desktop1279 {
        &:nth-child(7),
        &:nth-child(8){
            display: none;
        }
    }
}

.footer {
    height: 350px;
    @extend %gradient;
    padding-top: 40px;

    &__content {
        display: flex;
        justify-content: start;
        gap: 160px;
        height: 100%;
        padding-top: 16px;
        background-image: url(../../assets/images/footer-puppy.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        @include mix.desktop1279 {
            background-position: center bottom;
            padding-top: 0px;
            gap: 60px;
            justify-content: center;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 278px;
        svg {
            width: 40px;
            height: 32px;
        }
    }

    &__locations {
        display: flex;
        flex-direction: column;
        gap: 33px;
        width: 302px;
        svg {
            width: 22px;
            height: 32px;
        }
    }

    &__phone-link,
    &__mail-link,
    &__boston-location,
    &__london-location {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var.$color-primary;
        &:hover{
            color: var.$color-light-s;
            svg{
                fill:  var.$color-light-s;
            }
        }
    }

    svg {
        fill:#F1CDB3;
    }

    &__boston-street,
    &__london-street {
        width: 260px;
    }

    &__mail-link {
        width: 251px;
    }

    &__mail {
        width: 191px;
    }

    &__phone-link {
        width: 239px;
    }

    &__phone {
        width: 179px;
    }

    @include mix.desktop1279 {
        height: 639px;
        padding-top: 30px;
    }
}
